certifi==2021.10.8; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0"
charset-normalizer==2.0.9; python_full_version >= "3.6.0" and python_version >= "3"
idna==3.3; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.5"
imagehash==4.2.1
numpy==1.21.1; python_version >= "3.7"
pillow==8.4.0; python_version >= "3.6"
pywavelets==1.2.0; python_version >= "3.7"
requests==2.26.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.6.0")
scipy==1.6.1; python_version >= "3.7"
selenium==3.141.0
six==1.16.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0"
urllib3==1.26.7; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version < "4"
